{{#each content}}
<div class="Listing-Item Clear">
	{{#if this.thumbnailImage}}
		<a class="Listing-Thumbnail" href="/blog/{{#link title}}{{this.title}}{{/link}}-{{this.contentId}}">
			<img src="{{this.thumbnailImage}}" height="500" width="500">
		</a>
	{{/if}}
	<div class="Listing-Info {{#if this.thumbnailImage}}Has-Thumbnail{{/if}}">
		<a class="Listing-Title Listing-Link" href="/blog/{{#link title}}{{this.title}}{{/link}}-{{this.contentId}}">{{this.title}}</a>
		<p class="Abstract">
			{{this.abstract}}  <a role="presentation" tabindex="-1" class="Listing-Link Learn-More" href="/blog/{{#link title}}{{this.title}}{{/link}}-{{this.contentId}}">Read more</a>
		</p>
	</div>
</div>
{{/each}}
