{{#each content}}
<div class="Listing-Item Clear">
	<div class="Listing-Info">
		<a class="Listing-Title Listing-Link" href="/news/{{#link title}}{{this.title}}{{/link}}-{{this.contentId}}">{{this.title}}</a>
		<time class="Date">{{this.publishDate}}</time>
		<span class="Property Property-Type">
			<span class="Label">in</span>
			<a href="/news?type={{this.type}}">{{this.type}}</a>
		</span>
		<p class="Abstract">
			{{this.abstract}}  <a role="presentation" tabindex="-1" class="Listing-Link Learn-More" href="/news/{{#link title}}{{this.title}}{{/link}}-{{this.contentId}}">Read more</a>
		</p>
	</div>
</div>
{{/each}}